# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environments
.venv/
venv/

# Node
node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/src/*.js

# IDE
.idea/

# Environment
.env

